.pth-container {
  position: absolute;
  width: 1318px;
  height: 1170px;
  top: 2680px;
  margin-left: 122px;
}
.pth-heading {
  display: flex;
  padding-top: 80px;
}

.pth-line {
  margin-top: 10px;
  width: 60px;
  height: 0px;
  border: 1px solid #1791a0;
}

.pth-title {
  position: absolute;
  width: 333px;
  height: 44px;
  left: 76px;
  margin-top: -10px;
  font-family: Overpass;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 44px;
  /* identical to box height, or 122% */
  text-align: left;
  color: #000000;
}

.pth-body {
  left: 76px;
  margin-top: 20px;
  position: absolute;
  width: 498px;
  height: 84px;

  font-family: Overpass;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  /* or 140% */

  display: flex;
  text-align: left;

  color: #808080;
}

.pth-events {
  margin-top: 138px;
  height: 458px;
  display: flex;
}

.pth-event1,
.pth-event2,
.pth-event3 {
  position: absolute;
  width: 372px;
  height: 398px;

  background: #ffffff;
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.25);
}

.pth-event2 {
  margin-left: 412px;
}
.pth-event3 {
  margin-left: 824px;
}

.event1-img,
.event2-img,
.event3-img {
  position: absolute;
  width: 372px;
  height: 216px;

  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('../images/eventimg/event1.png');
  /* background-position: cover cover; */
}

.event2-img {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('../images/eventimg/event2.png');
}
.event3-img {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('../images/eventimg/event3.png');
}
.event-calender {
  width: 54px;
  height: 60px;
  margin-top: 24px;
  margin-left: 24px;
  background: #f6f6f6;
  display: flex;
  flex-direction: column;
}

.evnt-cal-date {
  padding-top: 8px;
  width: 30px;
  height: 24px;
  margin-left: 12px;

  font-family: Overpass;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  /* identical to box height, or 100% */

  display: flex;

  color: #1791a0;
}
.evnt-cal-month {
  width: 26px;
  height: 12px;
  margin-top: 8px;
  margin-left: 16px;

  font-family: Overpass;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 12px;
  /* identical to box height, or 100% */

  display: flex;

  color: #000000;
}
.event-date {
  position: absolute;
  width: 204px;
  height: 14px;
  top: 240px;
  left: 24px;

  font-family: Overpass;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  /* identical to box height, or 100% */

  display: flex;
  align-items: center;

  color: #808080;
}
.event-heading {
  position: absolute;
  width: 323px;
  height: 64px;
  left: 24px;
  top: 260px;

  font-family: Overpass;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 32px;
  /* or 133% */

  display: flex;
  align-items: center;
  text-align: left;

  color: #000000;
}
.event-line {
  position: absolute;
  width: 372px;
  height: 0px;
  top: 344px;
  border: 1px solid #cccccc;
}
.event-options {
  display: flex;
}
.event-opt1 {
  position: absolute;
  width: 61px;
  height: 14px;
  top: 360px;
  left: 24px;
  font-family: Overpass;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  /* identical to box height, or 100% */

  display: flex;
  align-items: center;

  color: #1791a0;
}
.event-opt2 {
  position: absolute;
  width: 28px;
  height: 14px;
  left: 101px;
  top: 360px;
  font-family: Overpass;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  /* identical to box height, or 100% */

  display: flex;
  align-items: center;

  color: #1791a0;
}

.past-evnt-heading {
  width: 244px;
  height: 56px;

  font-family: Overpass;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  /* or 140% */

  display: flex;
  align-items: center;

  color: #000000;
}
.pst-events {
  display: flex;
  height: 359px;
}
.pst-evnt1,
.pst-evnt2,
.pst-evnt3,
.pst-evnt4 {
  position: absolute;
  width: 276px;
  height: 305px;

  background: #ffffff;
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.25);
}
.pst-evnt2 {
  margin-left: 306px;
}
.pst-evnt3 {
  margin-left: 612px;
}
.pst-evnt4 {
  margin-left: 918px;
}
.pst-evnt-img1,
.pst-evnt-img2,
.pst-evnt-img3,
.pst-evnt-img4 {
  position: absolute;
  width: 276px;
  height: 226px;

  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('../images/pasteventimg/pstevent1.png');
}
.pst-evnt-img2 {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('../images/pasteventimg/pstevent2.png');
}
.pst-evnt-img3 {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('../images/pasteventimg/pstevent3.png');
}
.pst-evnt-img4 {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('../images/pasteventimg/pstevent4.png');
}
.pst-evnt-title {
  position: absolute;
  width: 244px;
  height: 56px;
  left: 16px;
  top: 240px;

  font-family: Overpass;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  /* or 140% */

  display: flex;
  align-items: center;
  text-align: left;

  color: #000000;
}
.pst-footer {
  display: flex;
}
.pst-footer {
  padding-left: 1000px;
  display: flex;
  height: 96px;
}
.pst-right-icon {
  width: 16px;
  height: 16px;
  color: #0aa6bd;
}
.pst-footer-text {
  width: 210px;
  height: 16px;
  margin-left: 8px;
  text-align: left;

  font-family: Overpass;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
  /* identical to box height, or 100% */

  color: #000000;
}
.pt-right-footer {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
}
